.body{
    margin: 0%;
}

.logo{
    width: 12%;
    height: 36%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-bottom: 1px;
    
}

.contenedor-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin: 5px 0px;
}

.cajaPadre{
    display: flex;
    flex-direction: column;
    background-color: rgb(31, 30, 30);  
    
}

.cajaHija{
    display: flex;
    flex-direction: row;
    height: 17%;
    width: 12%;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
    justify-content: space-between;
    box-sizing: border-box;
}

.peliculas{
    width: 100%;
    justify-content: center;
    margin: 15px;
    padding: 20%;
    background-color: #462036;
}

.generos{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: none;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.cajaHija2{
    display: flex;
    flex-direction: row;
    height: 17%;
    width: 12%;
    margin: 40px;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 5px;
}

.cajaHija3{
    display: flex;
    flex-direction: row;
    height: 17%;
    width: 12%;
    margin: 40px;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 5px;
}


.footer{
    text-align: center;
    font-size: 20px;
    line-height: none;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-top: 1px;
}

  /*Formato para los detalles de las peliculas*/

  .portada{
    width: 30%;
    height: 30%;
    margin: 20px;
  }

  .titulo{
        font-size: 100px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color:white
  }

  .body2{
    background-color: rgb(31, 30, 30);
  }

  .parrafo{
    color: white;
    font-size: 20px;
  }

  .listaDesordenada{
    list-style-type: none;
  }