.main{
    margin: 0%;
    background-color: black;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
}

.body{
margin: 0%;
background-color: rgb(0, 0, 0);
}

.logo{
    width: 12%;
    height: 36%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-bottom: 1px;
    
}

.menu{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    margin: 8px;
    color: aliceblue;
    padding-inline-start: 0px;
    

}

.contenedor-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin: 5px 15px;
}

.cajaPadre{
    display: flex;
    background-color: rgba(31, 30, 30, 0.796);  
    justify-content: center;
    flex-wrap: wrap;
    
}

.cajaHija{
    display: flex;
    flex-direction: column;
    padding: 20px;
   margin: 15px;
   align-items: center;
}

.peliculas{
    display: flex;
    width: 160px;
    height: 250px;
    padding: 15px;
    justify-content: center;
    background-color: #6e2873a1;
    
}

.generos{
    text-align: center;
    font-weight: bold;
    font-size: 40px; 
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}

.tituloPelicula{
    text-align: center;
    color: white;

}

.footer{
    text-align: center;
    font-size: 20px;
    line-height: none;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    margin-top: 1px;
}

  /*Formato para los detalles de las peliculas*/

  .portada{
    width: 30%;
    height: 30%;
    margin: 20px;
  }

  .titulo{
        font-size: 100px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        color:white
  }

  .body2{
    background-color: rgb(31, 30, 30);
  }

  .parrafo{
    color: white;
    font-size: 20px;
  }

  .listaDesordenada{
    list-style-type: none;
  }

  .fav{
      width: 30%;
      align-items: color;
      margin-left: 1%;
  }

  /*Busqueda*/

  .busqueda{
    text-align: center;
    font-weight: bold;
    font-size: 60px; 
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
  }
  
  .buscar{
    color: white;
    font-family: 'Oswald', sans-serif;
  }
